// Primary
$blackMain: #000000;
$blackMedium: #2B2B2B;
$blackLight: #6B6B6B;

// Secundary
$whiteMain: #F2F2F2;
$whiteMedium: #DFD7D7;
$whiteGray: #C3B4B4;

// Accent
$yellowMain: #E5B628;
$yellowDark: #B69616;
$yellowLight: #EFDC7B;