@media (max-width: 1024px) {
  .main {
    padding-inline: 1.25rem;

  }
  .footer {
    padding-inline: 1.25rem;
  }
}
@media (max-width: 768px) {
  .main {
    // background-image: url('../../images/bg-mobile.webp');
    // background-position-x: 80%;
  
    .content {
      gap: 1.5rem;
      .logo {
        max-height: 3rem;
      }
      .headline {

        .title {
          font-size: 1.25rem;
        }
      }
      .cta {
        font-size: 1rem;
        width: 100%;
        padding-inline: 2rem;
      }
    }
  }
}
@media (max-width: 420px) {
  .main {
    .content {
      .headline {
        .title {
          font-size: 1.125rem;
        }
      }
    }
  }
}
@media (max-width: 370px) {
  .target-bar {
    p {
      font-size: .875rem;
    }
  }
  .main {
    .content {
      .headline {
        .title {
          font-size: 1rem;
        }
      }
    }
  }
}
